MONGO_URI=mongodb://mongo:27017
MONGO_DATABASE=earthquakes
REDIS_URI=redis://redis:6379/0
MONGO_PUBLIC_PORT=27017
USGS_API_URL=https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson
INGESTION_INTERVAL_SECONDS=180

API_HOST=0.0.0.0
API_PORT=8000
API_PUBLIC_PORT=8000

AIRFLOW_UID=50000
AIRFLOW_PORT=8080
AIRFLOW_EXECUTOR=SequentialExecutor
AIRFLOW_DATABASE_URL=sqlite:////opt/airflow/airflow.db
AIRFLOW_LOAD_EXAMPLES=false
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_ADDITIONAL_REQUIREMENTS=pymongo==4.10.1 pydantic==2.10.5 pydantic-settings==2.7.1

CACHE_TTL=5
